body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;

  display: grid;
  grid-template-columns: 450px 1350px;
  grid-template-rows: 110px 110px 550px 110px;
  gap: 15px;

  grid-template-areas: "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;

  align-content: center;
}

.header {
  background-color: #FFDE22;
  grid-row: 1;
  grid-column: 1 / -1;
  /* grid-area: header; */
}

.sidebar {
  background-color: #FF7755;
  grid-row: 2 / span 2;
  grid-column: 1;
  /* grid-area: sidebar; */
}

.nav {
  background-color: #00DDFF;
  grid-row: 2;
  grid-column: 2 / -1;
  /* grid-area: nav; */
}

.article {
  background-color: #bccbde;
  grid-row: 3;
  grid-column: 2 / -1;
  /* grid-area: article; */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-row: -2;
  grid-column: 1 / -1;
  /* grid-area: footer; */
}
